.container-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 185px;
    margin: 5px;
}

.container-radios {
    display: flex;
    justify-content: space-between;
}