@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.container-select {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: large;
  border: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 5px;
}

.container-select select {
    background-color: #ffffff;
    width: 185px;
    height: 50%;
    border-radius: 4px;
}
select:focus {
  box-shadow: 1px 6px 44px 6px whitesmoke;
    outline: none;
}

select {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: large;
}