.container-input:hover .container-tooltip{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}

.container-tooltip {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: -15px;
    background: #ff9000;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;    
}

.container-tooltip::before {
    content: '';
    border-style: solid;
    border-color: #ff9000 transparent;
    border-width: 6px 6px 0 6px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
    